/* 
>=1200
992 - 1199
768 - 991
576 - 767
414 - 460
375 - 414
320 - 375
*/

@media(max-width: 992px) {
    .container{
        max-width: 96%;
    }

    h2, .h2,
    h1, .h1{
        font-size: 2.188em;
        margin-bottom: 35px;
    }

    p .subtitle{
        margin-bottom: 25px;
    }

    .flower-intro-section{
        background-size: cover;
        padding-bottom: 50px;
    }

    .feedback-section{
        padding-top: 50px;
    }

    .feedback-section .gift-section{
        padding-top: 50px;
        padding-bottom: 35px;
    }

    section.features{
        padding-bottom: 50px;
    }

    .morebenefits-section{
        padding: 50px 0px;
    }

    section.features p.subtitle{
        margin-bottom: 50px;
    }

    section.guarantee .guarantee-grid{
        padding-bottom: 50px;
    }

    section.guarantee .guarantee-card {
        text-align: center;
    }

    section.guarantee{
        padding-top: 50px;
    }

    .slider-section{
        padding-bottom: 50px;
    }

    .whattodo-section {
        padding: 50px 0px;
    }

    section.decoration-section .cta-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .benefits-section .benefits-grid{
        margin-bottom: 50px;
    }

    .benefits-section .tags-container{
        padding-bottom: 50px;
    }

    .gift-section{
        padding-top: 50px;
        padding-bottom: 5px;
    }

    .oak-stands{
        padding: 50px 0px;
    }

    .morebenefits-section .morebenefits-grid{
        padding-bottom: 0px;   
    }

    .ctaform-section .h3{
        margin-bottom: 50px;
    }

    .faq-section .faq-grid {
        grid-template-columns: 1fr;             
        justify-items: center;  
        gap: 0px;
    }

    .faq-section .accordion {
        width: 96%;
    }

    .footer-content{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .footer-content .right-text {
        text-align: left;
    }
}



@media(max-width: 768px) {
    h2, .h2,
    h1, .h1{
        font-size: 1.875em;
        margin-bottom: 25px;
    }

    .header-inner {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .flower-intro-section{
        padding-bottom: 35px;
    }

    .flower-intro-section .content-wrapper {
        flex-direction: column;
        text-align: center;
    }
    
    .flower-intro-section .features-list {
        text-align: left; 
        display: inline-block;
    }
    
    .flower-intro-section.features-list li::before {
        left: -20px;
    }

    .feedback-section{
        padding-top: 35px;
    }

    .feedback-wrapper {
        flex-direction: column;
    }

    .image-wrapper {
        display: none;
    }

    .feedback-section .gift-section{
        padding-top: 35px;
    }

    section.features{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .morebenefits-section{
        padding: 35px 0px 0px;
    }

    section.features .features-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    section.guarantee .guarantee-grid{
        grid-template-columns: 1fr;
        gap: 40px;
        padding-bottom: 35px;
    }

    section.guarantee .guarantee-card{
        width: 100%;
    }
    
    section.features .feature-card {
        text-align: center;
    }

    section.features p.subtitle{
        margin-bottom: 35px;
    }

    .slider-section{
        padding: 35px 0px;
    }

    .stands-grid .stand-card{
        margin-bottom: unset;
    }

    .whattodo-section {
        padding: 35px 0px;
    }

    .ctaform-section .h3{
        font-size: 1.1em;
        margin-bottom: 35px;
    }

    section.decoration-section .grid {
        grid-template-columns: 1fr;
    }

    .stands-grid {
        grid-template-columns: 1fr;
    }

    section.decoration-section .cta-section{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .benefits-section .benefits-grid,
    .morebenefits-section .morebenefits-grid{
        flex-direction: column;
        align-items: center;
    }

    .morebenefits-section .morebenefits-grid{
        gap: 0;
    }

    .morebenefits-section .morebenefits-grid .morebenefit-item{
        width: 100%;
        text-align: center;
    }

    .benefits-section .benefits-grid{
        margin-bottom: 35px;
    }
    
    .benefits-section .subtitle{
        margin-bottom: 35px;
    }

    .benefits-section .benefit-item {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .benefits-section .tags-container{
        padding-bottom: 35px;
    }

    .gift-content {
        flex-direction: column;
        text-align: center;
    }

    .gift-list {
        text-align: left; 
    }

    .gift-section {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .callback-section .privacy-policy {
        text-align: left !important;
    }
}

@media(max-width: 576px){
    .benefits-section .tag{
        width: 96%;
    }

    .faq-section {
        padding: 20px 15px;
    }

    .faq-section .accordion-header {
        font-size: 15px;
    }

    .faq-section .accordion {
        max-width: none;
    }
    .slide{
        width: 300px;
        height: 300px;
        margin: 0px;
    }
    .arrow{
        position: absolute;
    }
    #arrow-left{
        left: 0;
    }
    #arrow-right{
        right: 0;
    }
}